body{
  background-color: rgb(117, 54, 177);
}


.container{
  max-width: 760px;
  margin: auto;
 
}
  .social{
    background-color:aqua;
    padding: 15px;
    border: 5px solid red;
    margin: 20px;
  }

.box{
  max-width: 760px;
  margin: auto;
  max-height: 100px;
  background-color:aqua;
}

.red{
  background-color: red;
}

