body{
  background-color: rgb(216, 216, 216);
 
}


.container{
  max-width: 760px;
  border-radius: 100%;
  margin: auto;
 
}
  .social{
    background-color:aqua;
    padding: 15px;
    border: 5px solid red;
    margin: 20px;
    -webkit-border-radius: 39px 40px 21px 35px;
    -moz-border-radius: 39px 40px 21px 35px;
    border-radius: 39px 40px 21px 35px;
  }

.box{
  max-width: 760px;
  margin: auto;
  max-height: 100px;
  background-color:aqua;
}

.red{
  background-color: red;
}

.red{
  -moz-transform: scale(1.4) rotate(28deg) translate(-15px, -5px) skew(32deg, -23deg);
  -webkit-transform: scale(1.4) rotate(28deg) translate(-15px, -5px) skew(32deg, -23deg);
  -o-transform: scale(1.4) rotate(28deg) translate(-15px, -5px) skew(32deg, -23deg);
  -ms-transform: scale(1.4) rotate(28deg) translate(-15px, -5px) skew(32deg, -23deg);
  transform: scale(1.4) rotate(28deg) translate(-15px, -5px) skew(32deg, -23deg);
}


